<table class="schedule-table">
                <thead>
                    <tr id="date-row">
                        <th class="table-header" colspan="25">25.10.2025</th>
                    </tr>
                    <tr id="header-row">
                        <th class="first-column">Часові проміжки</th>
                        <th class="timezone">00-01</th>
                        <th class="timezone">01-02</th>
                        <th class="timezone">02-03</th>
                        <th class="timezone">03-04</th>
                        <th class="timezone">04-05</th>
                        <th class="timezone">05-06</th>
                        <th class="timezone">06-07</th>
                        <th class="timezone">07-08</th>
                        <th class="timezone">08-09</th>
                        <th class="timezone">09-10</th>
                        <th class="timezone">10-11</th>
                        <th class="timezone">11-12</th>

                        <th class="timezone">12-13</th>
                        <th class="timezone">13-14</th>
                        <th class="timezone">14-15</th>
                        <th class="timezone">15-16</th>
                        <th class="timezone">16-17</th>
                        <th class="timezone">17-18</th>
                        <th class="timezone">18-19</th>
                        <th class="timezone">19-20</th>
                        <th class="timezone">20-21</th>
                        <th class="timezone">21-22</th>
                        <th class="timezone">22-23</th>
                        <th class="timezone">23-24</th>
                    </tr>
                </thead>
                <tbody id="schedule-body">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="schedule-table">
                <thead>
                    <tr id="date-row">
                        <th class="table-header" colspan="25">25.10.2025</th>
                    </tr>
                    <tr id="header-row">
                        <th class="table-header">Станом на зараз відключення не плануються</th>
                    </tr>
                </thead>
                <tbody id="schedule-body">

                </tbody>
            </table>